<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Customers</title>
</head>

<body>
<table>
<thead>
<tr>
<th>
Product Id
</th>
<th>Product Name</th> 
<th>Cost</th>
</tr>
<th>Purchase</th>
</thead>
<tbody>
<tr th:each="product:${productsToPurchase}">
<td th:text="${product.id}"></td>
<td th:text="${product.productName}"></td>
<td th:text="${product.cost}"></td>
<td><a th:href="@{'/customer/productPurchased/'+${cust_id}+'/'+${product.id}}">Add</a></td>
</tr>
</tbody>
</table>
</body>

</html>