<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>products purchased</title>
</head>

<body>
<div><a th:href="@{'/product/displayProductsToBuy/'+${cust_id}}">Purchase Item</a>
</div>
<table>
<thead>
<tr>
<th>Product ID</th>
<th>Product Name</th>
<th>Purchased Date</th>
<th>Cost</th>
<th>Remove Product</th>
</tr>
</thead>
<tbody>
<tr th:each="product:${products}">
<td th:text="${product.id}"></td>
<td th:text="${product.productName}"></td>
<td th:text="${product.date}"></td>
<td th:text="${product.cost}"></td>
<td ></td>
<td><a th:href="@{'/customer/removeProduct/'+${cust_id}+'/'+${product.id}}">Remove</a></td>
</tr>

</tbody>
</table>

</body>

</html>